.counter {
  font-size: 25px;
  text-align: center;
  font-weight: 900;
}

.button--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 
}

/* .button--container button{
  width: 50px;
  height: 50px;
  border: none;
  color: #fff;
  font-weight: 900;
  font-size: 22px;
} */
.button--container .button--inercase {
  width: 40px;
  height: 40px;
  background-color: rgb(95, 95, 185);
 
  border: 1px solid gray;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
 
}

.button--container .button-decrease {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: red;
  border: 1px solid rgb(172, 64, 64);
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
}

.button--container .button--inercase:active{
  transform: translateY(7px);
}

.button--container .button-decrease:active{
  transform: translateY(7px);
}